<div class="profile">
  <img src="/assets/profile.png" alt="default user" />
  <h3>User Info:</h3>

  <form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)">
    <div class="flex">
      <p>Username:</p>

      <ng-container *ngIf="editMode">
        <input
          type="text"
          ngModel="{{ user.username }}"
          name="username"
          id="username"
          #usernameInput="ngModel"
          required
          minlength="5"
        />

        <ng-container *ngIf="usernameInput.touched || usernameInput.dirty">
          <p class="error" *ngIf="usernameInput.errors?.['required']">
            Username is required!
          </p>
          <p class="error" *ngIf="usernameInput.errors?.['minlength']">
            Username must be at least
            {{usernameInput.errors?.['minlength']['requiredLength']}}
            characters!
          </p>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!editMode">
        <p>{{ user.username }}</p>
      </ng-container>
    </div>
    <div class="flex">
      <p>Email:</p>

      <ng-container *ngIf="editMode">
        <input
          type="email"
          ngModel="{{ user.email }}"
          name="email"
          id="email"
          #emailInput="ngModel"
          required
          [pattern]="pattern"
        />

        <ng-container *ngIf="emailInput.touched || emailInput.dirty">
          <p class="error" *ngIf="emailInput.errors?.['required']">
            Email is required!
          </p>
          <p class="error" *ngIf="emailInput.errors?.['pattern']">
            Email is not valid!
          </p>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!editMode">
        <p>{{ user.email }}</p>
      </ng-container>
    </div>
    <div class="flex">
      <p>Phone:</p>

      <ng-container *ngIf="editMode">
        <div>
          <select
            name="ext"
            id="select-tel"
            class="tel"
            ngModel="{{ user.ext }}"
            #extInput="ngModel"
          >
            <option value="00359">+359</option>
            <option value="0044">+44</option>
            <option value="0047">+47</option>
          </select>
          <input
            type="text"
            name="phone"
            id="tel"
            ngModel="{{ user.tel }}"
            #phoneInput="ngModel"
          />
        </div>
      </ng-container>

      <ng-container *ngIf="!editMode">
        <p>{{ user.ext }} {{ user.tel }}</p>
      </ng-container>
    </div>

    <ng-container *ngIf="!editMode">
      <button class="edit-button" (click)="toggleEditMode()">Edit</button>
    </ng-container>

    <ng-container *ngIf="editMode">
      <button class="red-button" (click)="cancelHandler()">Cancel</button>
      <button class="green-button" [disabled]="profileForm.invalid">
        Save
      </button>
    </ng-container>
  </form>
</div>
