<div class="theme-content">
  <app-welcome *ngIf="!isLoggedIn"></app-welcome>
  <div class="theme-title">
    <div class="theme-name-wrapper">
      <div class="theme-name">
        <h2>{{ theme?.themeName }}</h2>
        <p>
          Date: <time>{{ theme?.created_at || "N/A" | dateFormat }}</time>
        </p>
      </div>

      <div class="subscribers" data-id="{{ theme?._id }}">
        <p>
          Subscribers: <span>{{ theme?.subscribers?.length }}</span>
        </p>
        <br />

        <button
          class="subscribe"
          (click)="subscribeHandler()"
          *ngIf="user && !theme?.subscribers?.includes(user._id)"
        >
          Subscribe
        </button>

        <button
          class="unsubscribe"
          *ngIf="user && theme?.subscribers?.includes(user._id)"
        >
          Unsubscribe
        </button>
      </div>
    </div>
  </div>

  <!--! posts  -->
  <ng-container *ngFor="let post of themePosts">
    <div class="comment">
      <header class="header">
        <p>
          <span>{{ post.userId.username }}</span> posted
          <time>{{ post.created_at | elapsedTime }}</time>
        </p>
      </header>
      <div class="comment-main">
        <div class="userdetails">
          <img src="/assets/profile.png" alt="avatar" />
        </div>

        <ng-container *ngIf="post.editPostMode">
          <form #editForm="ngForm">
            <input
              type="text"
              ngModel="{{ post.text }}"
              name="post"
              id="post"
              #postInput="ngModel"
              required
            />

            <ng-container *ngIf="postInput.touched || postInput.dirty">
              <p class="error" *ngIf="postInput.errors?.['required']">
                You must provide text for your post!
              </p>
            </ng-container>
            <button id="saveBtn" *ngIf="post.editPostMode">Save</button>
          </form>
        </ng-container>

        <ng-container *ngIf="!post.editPostMode">
          <div class="post-content">
            <p>{{ post.text }}</p>
          </div>
        </ng-container>
      </div>
      <div class="footer" data-id="{{ post._id }}" *ngIf="isLoggedIn">
        <i class="fas fa-thumbs-up" (click)="likeHandler($event)"></i>
        <!-- <i class="fas fa-thumbs-down"></i> -->
        <p>
          <span>{{ post.likes.length }}</span> likes
        </p>
      </div>

      <ng-container *ngIf="isOwner">
        <button
          id="editBtn"
          *ngIf="!post.editPostMode"
          (click)="toggleEditMode(post)"
        >
          Edit
        </button>
        <button
          id="delBtn"
          *ngIf="!post.editPostMode"
          (click)="deleteHandler(post._id)"
        >
          Delete
        </button>
      </ng-container>
    </div>
  </ng-container>

  <div class="answer-comment" *ngIf="isLoggedIn">
    <p>
      <span>{{ user?.username }}</span> comment:
    </p>
    <div class="answer">
      <form #commentForm="ngForm" (ngSubmit)="commentHandler(commentForm)">
        <textarea
          name="postText"
          ngModel
          #commentInput="ngModel"
          id="comment"
          cols="30"
          rows="10"
          required
        ></textarea>
        <button [disabled]="commentForm.invalid">Post</button>
      </form>
    </div>
  </div>
</div>
